rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Generic rule for all documents, allows read and write access if the user is authenticated.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // Specific rules for posts and nested comments.
    match /posts/{postId} {
      // Allows read and write access to a post if the user is authenticated.
      allow read, write: if request.auth.uid != null;

      // Nested rule for comments under a specific post.
      match /comments/{commentId} {
        // Allows read and write access to a comment if the user is authenticated
        // and the comment's postId matches the postId of the parent post.
        allow read, write: if request.auth.uid != null && request.resource.data.postId == postId;
      }
    }
  }
}
