
// Override the primary color variable
$primary: #EBBCBC;
$secondary: #F6E5CB;
$info: #DDC7AB;
$success: #CA8D5A;
$danger: #E08989;
$warning: #8F542E;
$light: #FFFFFF;

@import "~bootstrap/scss/bootstrap";
